<!DOCTYPE html>
<html>
<body>



<script>

function subhmitContent(){
	
	alert('called ')
	
	var catN = escape( document.getElementById('category').value );
	var catD = escape(document.getElementById('categoryDescription').value ); 
	var catR = escape(document.getElementById('categoryRules').value ); 
	
	
	
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/addCategory/'+catN+"/"+catD+"/"+catR, true);
	xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	
	xhr.onload = function () {
	    // do something to response
	    console.log(this.responseText);
	};
	xhr.send('user=person&pwd=password&organization=place&requiredkey=key');
	
	
	
}

</script>





	
		<fieldset>
			<legend>Add Category</legend>
			Category Name <br>
			<input type="text" id = 'category' name="category"> 
			<br>
			
			Category Description <br> 
			<input id = 'categoryDescription'
				type="textarea" name="categoryDescription" > 
			<br>
			
			Category Rules seperated by semicolon<br> 
			<input
				type="textarea" name="categoryRules" id="categoryRules" > 
			<br>
			
			<br>
			<button onClick="subhmitContent()"> submit</button>
		</fieldset>
	
</body>
</html>